<div class="container">
 <div class="row">
   <div class="sake_post_box">
 	<div class="col-lg-2">
    </div>
    <div class="col-lg-10">
	   <% @sake_posts.each do |sake_post| %>
	   			<div class="row">
    			  <div class="col-lg-2">
    				 <div class="sake_post_image">
					  <%= attachment_image_tag sake_post, :image, :fill, 200, 300, format: 'jpg' %>
					</div>
				  </div>
				  <div class="col-lg-2">
				  </div>
					<div class="col-lg-8">
						<br>
						<br>
						<br>
					  <p><%= "ユーザー名" %> ：</p>
					  <p><%= "sake名" %> ：<span class="sake_post_sake"><%= sake_post.sake_name %></span></p>
					  <p><%= "店名" %> ：<span class="sake_post_shop"><%= sake_post.shop_name %></span></p>
					</div>
	   			</div>
		<% end %>
    </div>
    <div class="paginate">
      <%= paginate @sake_posts %>
    </div>
  </div>
 </div>
</div>
