<div class="container background_image">
  <div class="sake_post_box">
   <div class="row post_form">
   	 <div class="col-lg-3">
   	 </div>
   	   <div class="col-lg-5">
	   	   	  <% if @sake_post.errors.any? %>
			    <div id="error_explanation">
			      <ul>
				      <% @sake_post.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
			          <% end %>
		          </ul>
		        </div>
	          <% end %>
			<%= form_for(@sake_post) do |f| %>
              <div class="row">
              	 <div class="col-lg-2 col-md-3 image_filed">
					 <%= f.attachment_field :image %>
				</div>
				<div class="col-lg-6 col-md-3">
				</div>
				<div class="col-lg-4 col-md-6">
					<%= f.text_field :sake_name, :size => "30", :placeholder => "sake名" %><br>
				 <div class="field_form">
				 	<p><strong class="color">※</strong> 複数入力 半角『 <strong class="color">,</strong> 』で入力</p>
					<%= f.text_field :tag_list, :size => "30",  :placeholder => "タグ" %><br>
				</div>
					<%= f.text_field :shop_name, :size => "30",  :placeholder => "店名" %><br>
				<div class="field_form">
					<%= f.text_field :address, :size => "30",  :placeholder => "住所" %><br>
				</div>
					<%= f.text_area :caption, :size => "30",  :placeholder => "sake紹介" %><br>
				  <div class="sake_post_btn">
					<%= f.submit "登録", class: "btn btn-secondary btn-sm" %>
			      </div>
				</div>
		      </div>
			<% end %>
       </div>
      <div class="col-lg-4">
      </div>
  </div>
		  <div class="btn_back">
			<%= link_to "戻る", user_path(current_user) %>
		  </div>
 </div>
</div>