<div class="container">
	<div class="sake_post_box">
		<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="col-lg-10">
				<div class="row text_color">
					<div class="col-lg-3">
						<div class="sake_post_myimage">
							  <%= attachment_image_tag @sake_post, :image, :fill, 200, 300, format: 'jpg' %>
						   <div id="favorite-botton-<%= @sake_post.id %>">
							      <%= render partial: "favorites/favorite", locals: { sake_post: @sake_post } %>
                           </div>
					    </div>
					</div>
						<div class="col-lg-1">
						</div>
				   <div class="col-lg-8 sake_post_show_text">
						<%= link_to user_post_path(@sake_post.user_id) do %>
						<p><%= "ユーザー名" %><span class="sake_post_nickname">: <%= @sake_post.user.nickname %></span></p>
						<% end %>
						<p><%= "sake名" %><span class="sake_post_sake">: <%= @sake_post.sake_name %></span></p>
						<p>Tags</p>
					    <div class="tag_text">
					       <% @sake_post.tag_list.each do |tag| %>
						       <span class="badge badge-danger"><%=link_to tag, sake_posts_path(tag_list: tag) %></span>
						   <% end %>
					    </div>
						<br>
						<p><%= "店名" %><span class="sake_post_shop">: <%= @sake_post.shop_name %></span></p>
						<p><%= "場所" %><span class="sake_post_address">: <%= @sake_post.address %></span></p>
						<p><%= "SAKE紹介" %></p>
					    <p><span class="sake_post_caption"><%= @sake_post.caption %></span></p>
						  <div class="sake_post_mybtn">
								<% if user_signed_in? %>
									<% if @sake_post.user_id == current_user.id %>
									<%= link_to "編集", edit_sake_post_path(@sake_post) %>
									<%= link_to "削除", sake_post_path(@sake_post), method: :delete, "data-confirm" => "削除しますか" %>
									<% else %>
									<% end %>
								<% end %>
							<%= link_to "戻る", sake_posts_path %>
						  </div>
					</div>
				</div>
							 <% if user_signed_in? %>
				               <%= render partial: 'sake_comments/form', locals: { sake_comment: @sake_comment, sake_post: @sake_post } %>
				             <% end %>

							 <div id="comments_area">
					 	       <%= render partial: 'sake_comments/index', locals: { sake_comments: @sake_comments } %>
					         </div>
			</div>
		</div>
	</div>
</div>

