<div class="container">
 <div class="signin_box">
  <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3 ">
            <% if !alert.nil? %>
            <div id="error_explanation">
              <ul>
                <li><%= alert %></li>
              </ul>
            </div>
            <% end %>
              <p class="header_text"><strong>アカウントお持ちの方</strong></p><br>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="signin_fieled_box">
                    <div class="field signin_field">
                      <%= f.label :ログイン %><br />
                      <%= f.text_field :login, :size => "30", autofocus: true, autocomplete: "email", :placeholder => "email or ユーザーネーム" %>
                    </div>
                    <div class="field signin_field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, :size => "30", autocomplete: "off", :placeholder => "パスワード" %>
                    </div>
                  </div>
                    <br>
                  <div class="signin_actions">
                    <div class="actions">
                      <%= f.submit "Log in", class: "button btn" %>
                    </div>
                  </div>
              <% end %>
         </div>
               <div class="col-lg-2">
               </div>
               <div class="col-lg-4 header_text_box">
                   <p class="header_text"><strong>アカウントをお持ちでない方</strong></p>
                   <p class="header_text"><strong>こちらで新規登録をお願い致します</strong></p>
                   <div class="sign_in_box_btn">
                   <%= link_to "新規登録", new_user_registration_path, class: "button btn" %>
                  </div>
       <div class="col-lg-1">
       </div>
  </div>
 </div>
</div>