<div class="container">
  <div class ="user_box">
    <div class="user_post_box">
          <div class="row">
              <div class="col-lg-1">
              </div>
                <div class="col-lg-11">
                  <div class="user_post_text">
                    <div class="row">
                        <div class="col-lg-3">
                           <%= attachment_image_tag @user, :image, :fill, 150, 200, format: 'jpg' %>
                       </div>
                       <div class="col-lg-4">
                            <p><%= "ユーザー名" %> <span class="user_nickname">: <%= @user.nickname %></span></p>
                            <p><%= "好きな酒" %> <span class="user_favolite_sake">: <%= @user.favorite_sake %></span></p>
                            <p><%= "好きな飲み方" %> <span class="user_favolite_shop">: <%= @user.favorite_drink %></span></p>
                            <p><%= "お気に入り場所" %> <span class="user_favolite_address">: <%= @user.favorite_shop %></span></p>
                            <p><%= "自己紹介" %></p>
                            <p><span class="user_introduction"><%= simple_format(@user.introduction) %></span></p>
                       </div>
                       <div class="col-lg-5">
                       </div>
                    </div>
                  </div>
                </div>
          </div>
              <% if user_signed_in? %>
                 <% if @user.id == current_user.id %>
                    <div class="row user_post_mybtn">
                      <div class="col col-lg-10">
                      </div>
                        <%= link_to "マイページ", user_path(current_user.id) %>
                    </div>
                  <% end %>
                  <% else %>
              <% end %>
              <div class="col-lg-2">
              </div>
      </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
             <li class="active"><a href="#user_post" class="nav-link" data-toggle="tab">投稿一覧</a></li>
            </li>
            <li class="nav-item">
             <li><a href="#user_post2" class="nav-link" data-toggle="tab">イイね画像</a></li>
            </li>
          </ul>
              <div class="tab-content">
                 <div class="tab-pane active" id="user_post">
                    <div class="row">
                        	<div class="col-lg-2">
                        	</div>
                        	<div class="col-lg-10">
                            	<% @user_posts.each do |user_post| %>
                                	 <%= link_to sake_post_path(user_post) do %>
                                	 <%= attachment_image_tag user_post, :image, :fill, 200, 300, format: 'jpg' %>
                                <% end %>
                            	<% end %>
                        	</div>
                    </div>
                        <div class="user_post_paginate">
                          <%= paginate @user_posts %>
                        </div>
                 </div>
                 <div class="tab-pane " id="user_post2">
                    <div class="row">
                          <div class="col-lg-2">
                          </div>
                          <div class="col-lg-10">
                              <% @user_favorites.each do |user_favorite| %>
                                   <%= link_to sake_post_path(user_favorite) do %>
                                     <%= attachment_image_tag user_favorite.sake_post, :image, :fill, 200, 300, format: 'jpg' %>
                                   <% end %>
                              <% end %>
                          </div>
                    </div>
                      <div class="user_post_paginate">
                        <%= paginate @user_favorites %>
                      </div>
                </div>
              </div>
        <% if user_signed_in? %>
                <div class="user_post_btn">
                  <%= link_to "戻る", sake_posts_path %>
                </div>
        <% else %>
                <div class="user_post_btn">
                  <%= link_to "戻る", sake_posts_path %>
                </div>
        <% end %>
  </div>
</div>