<div class="container">
		<!-- タブ・メニュー -->
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<li><a href="#user_page" class="nav-link" data-toggle="tab">ユーザー</a></li>
		  </li>
		  <li class="nav-item">
			<li class="active"><a href="#user_posts" class="nav-link" data-toggle="tab">投稿一覧</a></li>
		 </li>
		</ul>
         <!-- タブ内容 -->
		      <div class="tab-content">
					<div class="tab-pane" id="user_page">
						   <div class="row">
				    			  <div class="col col-lg-2">
				    				 <div class="user_image">
									  <%= attachment_image_tag @user, :image, :fill, 200, 300, format: 'jpg' %>
									</div>
								  </div>
								  <div class="col col-lg-3">
								  </div>
									<div class="col col-lg-7 user_text">
									  <p><%= "ユーザー名" %> <span class="user_nickname">: <%= @user.nickname %></span></p>
									  <p><%= "好きな酒" %> <span class="user_favolite_sake">: <%= @user.favorite_sake %></span></p>
									  <p><%= "好きな飲み方" %> <span class="user_favolite_shop">: <%= @user.favorite_drink %></span></p>
									  <p><%= "お気に入り場所" %> <span class="user_favolite_address">: <%= @user.favorite_shop %></span></p>
									  <p><%= "自己紹介" %></p>
									  	<p><span class="user_introduction"><%= simple_format(@user.introduction) %></span></p>
									 <div class="admin_user_mybtn">
									  <% if admin_signed_in? %>
									   <%= link_to "戻る", admins_users_path %>
				                      <% end %>
				                      </div>
								  </div>
					   		</div>
					</div>
					<div class="tab-pane active" id="user_posts">
						<div class="row">
			                 <% @user_posts.each do |user_post| %>
			                     <div class="card" style="width: 16em;">
									     <%= attachment_image_tag user_post, :image, :fill, 150, 150, format: 'jpg', class: "card-img-top" %>
								    <div class="card-body">
									    <h5 class="card-title"><%= user_post.sake_name %></h5>
									<ul class="list-group list-group-flush">
									    <p class="list-group-item card_shop"><%= user_post.shop_name %></p>
									    <p class="list-group-item card_address"><%= user_post.address %></p>
									    <p class="list-group-item card_caption"><%= user_post.caption %></p>
									    <div class="card-body">
										    <%= link_to "編集",edit_admins_sake_post_path(user_post.id), class: "btn btn-secondary btn-sm" %>
										    <%= link_to "削除",sake_post_path(user_post.id), method: :delete, "data-confirm" => "</削除しますか", class: "btn btn-danger btn-sm" %>
										</div>
									</div>
								 </div>
							  <% end %>
		                </div>
				     </div>
						    <div class="admin_paginate">
						    <%= paginate @user_posts %>
						    </div>
			   </div>
</div>