<div class="container">
      <div class="row">
        <div class="col-lg-4">
        </div>
            <div class="col-lg-4 ">
                <% if !alert.nil? %>
                  <div id="error_explanation">
                    <ul>
                      <li><%= alert %></li>
                    </ul>
                  </div>
                <% end %>
                <div class="admin_hedding">
               <p><strong>管理者 Log in</strong></p>
              </div>
            </div>
        <div class="col-lg-4">
        </div>
      </div>
      <div class="row">
          <div class="col-lg-5">
          </div>
              <div class="col-lg-4">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                  <div class="admin_actions">
                  <div class="actions">
                    <%= f.submit "Log in", class: "btn btn-warning" %>
                  </div>
                </div>
                <% end %>
            </div>
            <div class="col-lg-3">
            </div>
      </div>
</div>