<div class="container">
  <div class="row">
    <div class="col-lg-4">
    </div>
           <div class="col-lg-4">
              <div class="admin_hedding">
                 <p><strong>管理者 Log in</strong></p>
              </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                 <div class="admin_field_box">
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
                    <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                </div>
                    <div class="admin_actions">
                    <div class="actions">
                      <%= f.submit "Log in", class: "btn btn-warning btn-sm" %>
                    </div>
                  </div>
            <% end %>
          </div>
          <div class="col col-lg-4">
          </div>
  </div>
</div>