<div class="container">
 <div class="row">
 	<div class="col-lg-3">
    </div>
      		<p>Tag検索</p>
  		  <%= search_form_for(@q, url:admins_tags_path) do |f| %>
          <%= f.search_field :name_cont, :placeholder => "Tag名" %>
          <%= f.submit "検索", class: "black-btn btn-xs" %>
        <% end %>

    <div class="col-lg-7">
	  <div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="th_tag">Tags</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		  	  <% @sake_posts_tags.each do |tag| %>
				<tr>
					<td><span class="label label-danger"><%= tag %></span></td>
					<td class="tag_btn"><%= link_to "", new_admins_sake_post_path, class: "glyphicon glyphicon-share btn btn-default btn-xs" %></td>
					<td class="tag_btn"><%= link_to "", edit_admins_tag_path(tag.id), class: "glyphicon glyphicon-cog btn btn-default btn-xs" %></td>
					<td class="tag_btn"><%= link_to "", admins_sake_post_path(tag.id), method: :delete, class: "glyphicon glyphicon-trash btn btn-default btn-xs" %></td>
				</tr>
		  	  <% end %>
			</tbody>
		</table>
	   </div>
	</div>
	<div class="col-lg-2">
	</div>
  </div>
</div>
