<div class="container">
  <nav>
   <div class="row">
          <div class="col col-lg-7">
          </div>
        <div class="col col-lg-5">
      	<ul class="ddmenu">
         <% if admin_signed_in? %>
            <li class="ddmenu_text"><%= link_to "ログアウト",destroy_admin_session_path, method: :delete %></li>
            <li class="ddmenu_text"><%= link_to "menu" %>
              <ul>
                 <li><%= link_to "酒一覧", sake_posts_path %></li>
                 <li><%= link_to "ユーザー一覧", admins_users_path %></li>
                 <li><%= link_to "タグ一覧", admins_tags_path %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
</div>
