<% if user_signed_in? %>
<div class="container under_border">
 <nav>
   <ul class="ddmenu">
    <div class="row">
      <div class="col col-lg-1 col-md-1 col-1">
        <div class="social logo">
        <i class="fas fa-beer"><span class="sake_logo">酒</span></i>
      </div>
    </div>
      <div class="col col-lg-8 col-md-7 col-6">
       <li class="ddmenu_text_nickname" ><%= current_user.nickname %>
         <ul>
           <li><%= link_to "My Page", user_path(current_user) %></li>
         </ul>
       </li>
     </div>
     <div class="col col-lg-3 col-md-4 col-5">
      <li class="ddmenu_text"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
      <li class="ddmenu_text">
       menu
       <ul>
         <li><%= link_to "酒一覧", sake_posts_path %></li>
         <li><%= link_to "酒について", top_path %></li>
         <li><%= link_to "退会", new_retire_path %></li>
       </ul>
     </li>
   </div>
 </div>
</ul>
</nav>
</div>
<% else %>
<div class="container">
  <nav>
    <ul class="ddmenu ddmenu_2">
      <div class="row">

        <div class="col col-lg-8 col-md-6 col-1">
        <div class="social logo">
        <i class="fas fa-beer"><span class="sake_logo">酒</span></i>
      </div>
        </div>
        <div class="col col-lg-4 col-md-5 col-11">
         <li class="ddmenu_text"><%= link_to "新規登録",new_user_registration_path %></li>
         <li class="ddmenu_text"><%= link_to "ログイン",new_user_session_path %></li>
         <li class="ddmenu_text">
           menu
           <ul>
             <li><%= link_to "酒について", top_path %></li>
             <li><%= link_to "酒一覧", sake_posts_path %></li>
           </ul>
         </li>
       </div>
     </div>
   </ul>
 </nav>
</div>
<% end %>
