<div class="container">
  <nav>
   <div class="row">
          <div class="col col-lg-7">
          </div>
        <div class="col col-lg-5">
        	<ul class="ddmenu">
           <% if user_signed_in? %>
              <li class="ddmenu_text"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
              <li class="ddmenu_text"><%= link_to "menu" %>
                <ul>
                   <li><%= link_to "sake一覧", sake_posts_path %></li>
                   <li><%= link_to "My Page", user_path(current_user) %></li>
                   <li><%= link_to "退会", new_retire_path %></li>
                </ul>
              </li>
              <% else %>
        			<li class="ddmenu_text"><%= link_to "新規登録",new_user_registration_path %></li>
        			<li class="ddmenu_text"><%= link_to "ログイン",new_user_session_path %></li>
        			<li class="ddmenu_text"><%= link_to "menu" %>
               <ul>
                   <li><%#= link_to "Top", top_path %></li>
                   <li><%= link_to "sake一覧", sake_posts_path %></li>
                </ul>
              </li>
          <% end %>
         </ul>
       </div>
    </div>
  </nav>
</div>
