<!DOCTYPE html>
<html>
  <head>
    <title>Sake</title>
   <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<% if request.path.include?('admin') %>
  <body class="admin_background">
    <% else %>
  <body class="<%= "#{controller.controller_name}" %> ">
<% end %>
  <% if request.path.include?('admin') %>
    <header class="admin_header">
  <% else %>
  	<header class="header_<%= "#{controller.controller_name}" %>">
  <% end %>
       <% if request.path.include?('admin') %>
         <%= render 'layouts/adminHeader' %>
       <% else %>
         <%= render 'layouts/userHeader' %>
       <% end %>
  	</header>
  <% if request.path.include?('admin') %>
    <div class="top_border_<%= "#{controller.controller_name}" %>">
  <% else %>
    <div class="header_border top_border_<%= "#{controller.controller_name}" %>">
  <% end %>
    </div>

    <%= yield %>
  <% if request.path.include?('admin') %>
    <div class="under_border_<%= "#{controller.controller_name}" %>">
  <% else %>
    <div class="footer_border under_border_<%= "#{controller.controller_name}" %>">
  <% end %>
  </div>
  <% if request.path.include?('admin') %>
    <footer class="admin_<%="#{controller.controller_name}" %>">
  <% else %>
    <footer class="footer_<%="#{controller.controller_name}" %>">
  <% end %>
    	Copyright © 2018 SAKE. All Rights Reserved.
    </footer>
  </body>
</html>
